-#  This file is app/views/movies/showmovies_wsd.html.haml
%h1 Showing Movies with same Director as the movie 
= @movie[:title]

%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th Director
      %th More info
  %tbody
  - @movies_wsd.each do |movie|
    %tr 
      %td= movie.title
      %td= movie.rating
      %td= movie.release_date
      %td= movie.director
      %td= link_to "More about #{movie.title}", movie_path(movie) 
      
= link_to 'Back to the movie #{movie.title}', movie_path(@movie)
